.splash-image {
  top:0;
  width: 100%;
  height: 100vh;
  background-image: url("https://bestfriends.org/sites/default/files/2022-08/DrBlissShiba8725SAx2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.90;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.splash-image > h1 {
  text-align: center;
  z-index: 8;
  color: White;
  font-size: 60px;
  padding-top:50vh;
  padding-bottom: 30px;
}

.splash-image > p {
  color: white;
  font-size: 25px;
}

.outter-div {
  background-color: black !important;
}

.Image-Feed-button {
  width: 250px;
  height: 80px;
  border-radius: 40px;
  color: black;
  font-size: 32px;
  margin: 0 auto;
  /* background: linear-gradient( #fcbe50,#fbcf55 , #FAEA60) */
  background: -webkit-linear-gradient(top left, #fcf9b8, #F7C331);
  background: -moz-linear-gradient(top left, #fcf9b8, #F7C331);
  background: linear-gradient(to bottom right, #fcf9b8, #F7C331);
}
