
.custom-navbar {
  background: transparent;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.NavBar-user-info {
  right: 0;
  margin-right: 20px;
  padding-top: 20px;
  font-size: 23px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.NavBar-signin {
  right: 0;
  margin-left: 20px;
  color:black !important;
}

.NavBar-signin-button > p {
    color:black !important;
  }

.NavBar-logo {
  width: 250px;
  height: 100px;
}

.NavBar-sections {
  display: flex;
  text-align: left;
  padding-top: 20px;
  font-size: 23px;
}

.NavBar-sections > a {
  color: white !important;
}


.NavBar-dropdown1 {
z-index: 23333;
}

.NavBar-login-button {
    width: 99px;
    height: 45px;
    border-radius: 25px;
    font-size: 18px;
    background: -webkit-linear-gradient(top left, #F7C331, #ddce63);
    background: -moz-linear-gradient(top left, #F7C331, #ddce63);
    background: linear-gradient(to bottom right, #F7C331, #ddce63);
      color: black !important;
  }

/* for every other page NAVBAR========================= */



.NavBar-overall-Div {
width: 100vw;
position: absolute;
/* height: 50vh; */
}

.NavBar-sections2 > a {
  color: white !important;
}

.custom-navbar2 {
  display: relative;
  background: #6B7A8F;
  z-index:2;
  position: fixed;
  display: flex;
  text-align: left;
  float:left;
  width: 100vw;
}

.NavBar-user-info2 {
    right: 0;
    margin-right: 20px;
    margin-top:20px;
    padding-top: 30px;
    font-size: 23px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.NavBar-span {
  text-align: right;
  float: right;
  overflow: auto;
}

.NavBar-user-img {
  text-align: right;
  float: right;
  overflow: auto;
}

.NavBar-signin2 {
    right: 0;
    margin-left: 20px;
    color:black !important;
}

.NavBar-signin-button > p {
    color:black !important;
  }

.NavBar-logo2 {
  width: 250px;
  height: 100px;
  background: #6B7A8F;
}

.NavBar-sections2 {
  display: flex;
  text-align: left;
  padding-top: 20px;
  font-size: 23px;
}

.NavBar-login-button2 {
  width: 99px;
  height: 45px;
  border-radius: 25px;
  font-size: 18px;
  background: -webkit-linear-gradient(top left, #F7C331, #ddce63);
  background: -moz-linear-gradient(top left, #F7C331, #ddce63);
  background: linear-gradient(to bottom right, #F7C331, #ddce63);
    color: black !important;
}


.Image-Feed-button > a {
    color: black;
}
