.custom-navbar {
  background: transparent;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.NavBar-user-info {
  right: 0;
  margin-right: 20px;
  padding-top: 20px;
  font-size: 23px;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.NavBar-signin {
  right: 0;
  margin-left: 20px;
}

.NavBar-logo {
  width: 250px;
  height: 100px;
}

.NavBar-sections {
  display: flex;
  text-align: left;
  padding-top: 20px;
  font-size: 23px;
  /* color:white; */
  /* color:white !important; */
}

.NavBar-sections > a {
  color: white !important;
}

/* Second half for all of the other links */

.NavBar-sections2 > a {
  color: white !important;
}

.custom-navbar2 {
  display: sticky;
  background: #938e8e;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding-right: 50vw
}

.NavBar-user-info2 {
  right: 0;
  /* margin-right: 20px; */
  position: fixed;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 23px;
  /* justify-content: space-between; */
  background: #938e8e;
  height: 15%;
  /* padding-left: 10vw */
  
}

.NavBar-span {
    /* float:right; */
    text-align: right;
    float: right;
    overflow: auto;
    /* right:0; */
}

.NavBar-user-img {
    text-align: right;
    float: right;
    overflow: auto;

}

.NavBar-signin2 {
  right: 0;
  margin-left: 20px;
  background: #938e8e;
}

.NavBar-logo2 {
  width: 250px;
  height: 100px;
  background: #938e8e;
}

.NavBar-sections2 {
  display: flex;
  text-align: left;
  padding-top: 20px;
  font-size: 23px;
  /* color:white; */
  /* color:white !important; */
}
