.custom-navbar {
  background: transparent;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.NavBar-user-info {
  right: 0;
  margin-right: 20px;
  padding-top: 20px;
  font-size: 23px;
  position: fixed;
  display: flex;
  justify-content: space-between;
}
.NavBar-signin {
  right: 0;
  margin-left: 20px;
}

.NavBar-logo {
  width: 250px;
  height: 100px;
}

.NavBar-sections {
  display: flex;
  text-align: left;
  padding-top: 20px;
  font-size: 23px;
}

.NavBar-sections > a {
  color: white !important;
}

.NavBar-sections2 > a {
  color: white !important;
}

.custom-navbar2 {
  display: sticky;
  background: #6B7A8F;
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: right;
  padding-right: 50vw;
}

.NavBar-user-info2 {
  right: 0;
  position: fixed;
  padding-right: 20px;
  padding-top: 20px;
  font-size: 23px;
  background: #6B7A8F;
  height: 15%;
}

.NavBar-span {
  text-align: right;
  float: right;
  overflow: auto;
}

.NavBar-user-img {
  text-align: right;
  float: right;
  overflow: auto;
}

.NavBar-signin2 {
  right: 0;
  margin-left: 20px;
  background: #6B7A8F;
}

.NavBar-logo2 {
  width: 250px;
  height: 100px;
  background: #6B7A8F;
}

.NavBar-sections2 {
  display: flex;
  text-align: left;
  padding-top: 20px;
  font-size: 23px;
}

.NavBar-login-button {
  width: 99px;
  height: 45px;
  border-radius: 25px;
  font-size: 18px;
  background: -webkit-linear-gradient(top left, #F7C331, #ddce63);
  background: -moz-linear-gradient(top left, #F7C331, #ddce63);
  background: linear-gradient(to bottom right, #F7C331, #ddce63);
}
