.swipeButtons {
  /* position:fixed; */
  position:fixed;
  /* width: 10vw; */
  display: flex;
  justify-content: space-evenly;
    /* position: relative; */
   bottom: 1vh;
   width: 70vw !important;
   height: 10vh !important;
   /* top: 100%;  */
   /* left: 10px; */
  /* bottom: 100px; */
}

/* MuiButtonBase-root MuiIconButton-root MuiIconButton-sizeSmall swipeButtons_right css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root */



.SwipeButton_overall_div {
  display: flex;
  justify-content:center;

}


.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3) !important;
  height:50px;
  width:50px;
  
}

.swipeButtons_repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
  /* size:"large"; */
}

.swipeButtons_left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}

.swipeButtons_star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}

.swipeButtons_right {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipeButtons_lightning {
  padding: 3vw !important;
  color: #915dd1 !important;
}
