.PetFinderAPI_card {
  height: 100vh;
  width: 100vw;
/* Created with https://www.css-gradient.com */
background: #9E9E9E;
background: -webkit-linear-gradient(top left, #9E9E9E, #EDEDED);
background: -moz-linear-gradient(top left, #9E9E9E, #EDEDED);
background: linear-gradient(to bottom right, #9E9E9E, #EDEDED);
  /* overflow-x: hidden; */
}

.PetFinderAPI_card > h3 {
    /* position: fixed; */
    top: 70%;
    left: 42%;
    /* text-align: center; */
}

.PetFinderAPI_userLikedPet_Button {
  position: fixed;
  margin-top: 90px;
  right: 0;
  margin-right: 3%;
  margin-right: 100px;
 /*  padding: 7px;
  margin-top: 10px;
  border-radius: 7px; */
}


