* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fraunces';
  color: #1976d2;
}

.login {
  text-align: center;
  margin: 0 auto;
  margin-bottom:500px;
  margin-top: 200px;
  max-width: 200px;
}
.account {
  text-align: center;
  margin: 0 auto;
  margin-bottom:1000px;
  /* margin-top:200px; */
}

/* * {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
<<<<<<< HEAD
}
.login {
  text-align: center;
  margin: 0 auto;
  margin-bottom:500px;
  margin-top: 200px;
  max-width: 200px;
}
.account {
  text-align: center;
  margin: 0 auto;
  margin-bottom:1200px;
  margin-top:100px;
}
=======
} */
>>>>>>> a5b2b7a2dc4ef5396ff2712c81c4eea64feb1bb0
/* .user-image {
  width:120px;
  height:120px;
  border-radius:50%;
} */